
/* FOOTER */

footer {
  background: #F5F4F2;
  padding: 50px 0;

}

footer .container{
  max-width: 800px;

}

footer .logo-title a {
  font-weight: bold;
  font-size: 30px;
}

footer .logo-title img {
  width: 70px;
  height: 70px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.footer-inner .footer-nav {
  display: flex;
  gap: 45px;
}

.footer-nav .nav-item .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
