/* VARS */

:root {
  --color-green: #215845;
  --color-grey: #363636;
}

/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;

  box-sizing: border-box;
  color: var(--color-grey);
}

/* img {
  max-width: 100%;
  height: auto;
} */

a {
  color: unset;
  text-decoration: none;
}

h1 {
  font-size: 55px;
  line-height: 1;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 16px;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 0 40px;
}

section {
  padding: 50px 0;
}

section .bg-color {
  background-color: #F5F4F2;
}

.content-section .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-title a {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: bold;
  font-size: 20px;
}

.logo-title img {
  width: 50px;
  height: 50px;
}

/* BUTTONS ---------------------------------------*/

.btn {
 display: inline-block;
 cursor: pointer;
 background-color: transparent;
 border-radius: 5px;
}

.btn.primary-button {
  padding: 10px 40px;
  border: 2px solid var(--color-green);
  color: var(--color-green);
  transition: all .3s;
}

.btn.primary-button:hover {
  color: #ffffff;
  background: var(--color-green);

}

.btn.primary-button.edit,
.btn.primary-button.add {
  padding: 5px 30px;
  display: inline-flex;
  align-items: center;
}

.btn.primary-button.edit:after {
  font: var(--fa-font-solid);
  content: "\f044";
  font-size: 0px;
  display: inline-block;
  width: 0px;
  opacity: 0;
  margin-left: 0px;
  transition: all .3s;
}

.btn.primary-button.edit:hover,
 .btn.primary-button.add:hover{
  color: #ffffff;
  background: var(--color-green);
  padding: 5px 40px 5px 30px;
}

.btn.primary-button.edit:hover:after,
.btn.primary-button.add:hover:after {
  color: #ffffff;
  background: var(--color-green);
  opacity: 1;
  margin-left: 10px;
  font-size: 15px;
}

.btn.primary-button.add:after {
  font: var(--fa-font-solid);
  content: "\f055";
  font-size: 15px;
  display: inline-block;
  width: 0px;
  opacity: 0;
  margin-left: 0px;
  transition: all .3s;
}

.btn.secondary-button {
  position: relative;
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
  /* padding: 10px 40px; */
}

.btn.secondary-button:before {
  content:"";
  width: 0;
  height: 2px;
  background: #000000;
  /* border: 1px solid #000000; */
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all .3s;

}

.btn.secondary-button:hover:before {
  width: 100%;
}

.btn.secondary-button:after {
  font: var(--fa-font-solid);
  content: "\f061";
  font-size: 15px;
  display: inline-block;
  width: 20px;
  height: 15px;
}

.btn.secondary-button:hover {
  /* color: white; */

}

.btn.add-to-cart {
  padding: 10px 40px;
  border: 2px solid var(--color-green);
  color: var(--color-green);
  transition: all .3s;
}

.btn.add-to-cart::after {
  font: var(--fa-font-solid);
  content: "\f07a";
  font-size: 15px;
  display: inline-block;
  width: 0px;
  opacity: 0;
  margin-left: 0px;
  transition: all .3s;
}

.btn.add-to-cart:hover {
  color: #ffffff;
  background: var(--color-green);
}

.btn.add-to-cart:hover:after {
  color: #ffffff;
  background: var(--color-green);
  opacity: 1;
  margin-left: 10px;
}

.btn.remove {
  padding: 10px 10px;
  border: none;
  color: var(--color-green);
  transition: all .3s;
}

.btn.remove::after {
  font: var(--fa-font-solid);
  content: "\f1f8";
  font-size: 15px;
  display: inline-block;
  transition: all .3s;
}

.btn.small-btn {
  font-size: 15px;
  /* border-bottom: 1px solid var(--color-grey); */
}
.btn.small-btn:hover {
  border-bottom: 1px solid var(--color-grey);
}

/* POPUP ---------------------------------------*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.83);
    display: none;
    z-index: 999;
}

.indhold {
    width: 50vw;
    margin: auto;
    padding: 10px;
    border: none;
    position: relative;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .indhold::-webkit-scrollbar {
    display: none;
  }

.luk {
  padding: 5px 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.luk::after {
  font: var(--fa-font-solid);
  content: "\f00d";
  font-size: 20px;
  display: inline-block;
  transition: all .3s;
}
