/* HEADER */

:root {
  --color-green: #215845;
}

.top-bar {
  background: #484031;
  color: #ffffff;
  padding: 5px 0;
  font-size: 13px;
}

.top-bar .top-bar-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.trust-pilot {
  display: flex;
  gap: 10px;
  align-items: center;
}

.review {
  text-align: center;
}

header.padding {
  padding-bottom: 70px;
  /* transition: all 0.3s; */
}

.nav-bar {
  box-shadow: 0px 3px 6px #00000029;
  background: #ffffff;
  width: 100%;
  transition: all .3s;
}

.nav-bar.fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav-bar .nav-bar-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* .nav-bar .nav-bar-inner .logo-title {
  margin-right: auto;
} */

.nav-bar .nav-bar-inner .navigation {
  display: flex;
  gap: 40px;
  /* margin: auto; */
}

.nav-bar .nav-bar-inner .navigation a {
  font-weight: bold;
  position: relative;
}

.nav-bar .nav-bar-inner .navigation a:after {
  content:"";
  width: 0;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all .3s;
}

.nav-bar .nav-bar-inner .navigation a:hover:after {
  width: 100%;
}

.nav-bar .nav-bar-inner .account {
  display: flex;
  align-items: center;
  gap: 30px;
  /* margin-left: auto; */
}

.nav-bar .nav-bar-inner .basket-amount .cart-icon {
  position: relative;
}

.nav-bar .nav-bar-inner .basket-amount .cart-icon {
  position: relative;
}

.nav-bar .nav-bar-inner .basket-amount .cart::after {
  font: var(--fa-font-solid);
  content: "\f07a";
  font-size: 20px;
  display: inline-block;
  transition: all .3s;
}

.nav-bar .nav-bar-inner .basket-amount .cart-icon .cart-qty {
  border-radius: 50px;
  /* padding: 5px; */
  background: var(--color-green);
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: -10px;
  top: -10px;
}

.nav-bar .nav-bar-inner .basket-amount a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-bar .nav-bar-inner .basket-amount .amount {
  font-weight: bold;

}

.nav-bar .nav-bar-inner .basket-amount a img{
  width: 25px;
}
