@media screen and (max-width: 850px) {
  #products .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
}
@media screen and (max-width: 750px) {
  #products .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

  .footer-inner {
      display: block;
  }
  .footer-inner .footer-nav {
    display: block;
    margin-top: 20px;
}
.nav-item {
  margin-bottom: 20px;
}
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 45px;
    line-height: 1;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 12px;
  }

  .indhold {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .nav-bar .nav-bar-inner {
    display: block;
    padding: 15px;
  }
  .logo-title a,
  .nav-bar .nav-bar-inner .account {
    justify-content: center;
    margin: 5px 0;
  }
  #product-categories .section-title,
  .content-section .section-title {
    display: block;
  }
  #product-categories .grid-container {
      display: block;
      max-height: 100%;
  }
  #product-categories .grid-container .grid-item {
    margin-bottom: 10px;
    max-height: 300px;
  }
  #product-categories .grid-container .grid-item img {
    height: 300px;
  }
  .section-button {
    display: inline-block;
  }
  #products .products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  #cart .products-container .in-cart,
  #cart .products-container .in-cart .product-info {
      display: block
  }
}
