#top-section {
  padding: 0;
  position: relative;
}

#top-section .img-container,
#scroll-section .img-container {
  position: relative;
}

.parallax {
  background-image: url("/../webshop/assets/images/top-image.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax.middle {
  min-height: 250px;
}


#top-section .img-container::after,
#scroll-section .img-container::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;

  position: absolute;
  top: 0;
  left: 0;
}

#top-section .img-container img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  display: block;
}

#top-section .container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#top-section .top-inner {
  max-width: 750px;
  color: #ffffff;
}

#top-section .top-inner h1{
  margin-bottom: 20px;
  color: #ffffff;
}

#top-section .top-inner p{
  margin-bottom: 20px;
  font-size: 18px;
  color: #ffffff;
}

#top-section .top-inner .buttons{
  display: flex;
  gap: 20px;
}

#top-section .btn.primary-button {
  border: 2px solid #ffffff;
  color: #ffffff;
}

#top-section .btn.primary-button:hover {
  color: #000000;
  background: #ffffff;

}

.sub-top-section {
  padding: 100px 0;
  background: #F5F4F2;
}


#product-categories {

}

#product-categories .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#product-categories .grid-container{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [col-end];
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  max-height: 715px;
}

#product-categories .grid-container .grid-item {
  position: relative;
}

#product-categories .grid-container .grid-item::after {
  content:"";
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000F7 100%, #808080 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;

}

#product-categories .grid-container .grid-item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

#product-categories .grid-container .grid-item .item-title {
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  bottom: 40px;
  padding: 10px;
  color: #ffffff;
  z-index: 2;
}

#product-categories .grid-container .grid-item .item-title .title{
  color: #ffffff;
}

#product-categories .grid-container .grid-item .item-title .title:after{
  content:"";
  width: 30px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: all .3s;
  background: #ffffff;
}

#product-categories .grid-container .grid-item:hover .title:after {
  width: 70px;
}

#product-categories .grid-container .grid-item:first-of-type{
  background-color: Aqua;
  grid-row: span 6;

}

#product-categories .grid-container .grid-item:nth-child(2),
#product-categories .grid-container .grid-item:nth-child(3),
#product-categories .grid-container .grid-item:nth-child(4) {
  background-color: Aquamarine;
  /* height: 225px; */
  grid-row: span 2;
}

#product-categories .grid-container .grid-item:nth-child(5),
#product-categories .grid-container .grid-item:nth-child(6) {
  background-color: Coral;
  /* height: 350px; */
  grid-row: span 3;
}


#newest-products .grid-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: grab;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#newest-products .grid-container::-webkit-scrollbar {
  display: none;
}

#newest-products .product-item {
    margin: 0 15px;
    display: inline-block;
}
#newest-products .product-item:first-of-type {
    margin: 0 15px 0 0;
}

#newest-products .product-info .price  {
  font-weight: bold;
  margin-bottom: 20px;
}

#newest-products .product-item img {
  width: 100%;
  max-width: 250px;
  height: 375px;
  object-fit: cover;
}

/* FORM ------------------------------------------- */

.form-section {
  max-width: 600px;
  margin: 0 auto;
}

.form-wrapper {
  display: block;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;

  padding: 2rem;
  margin-bottom: 0.5rem;
}

.form-wrapper h2 {
  margin-bottom: 1rem;
}

.form {
  max-width: 100%;
}

.form input,
.form textarea {
  background-color: #fff;
  width: 100%;
  padding: 3px 7px;
  line-height: normal;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  /* box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset; */
  outline: 0;
  margin-bottom: 0.5rem;
}
.form textarea {
  height: 150px;
}

.radio-btn {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 10px;
}

.radio-btn input {
  width: auto;
  margin-bottom: 0;
}

label {
  font-size: 12px;
  font-weight: 700;
}
.label-container {
  display: flex;
  justify-content: space-between;
}

/* ADMIN PANEL ------------------------------------------- */

.admin-products .section-title,
.admin-categories .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.admin-products .product-item,
.admin-categories .category-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.admin-products .product-item .product-left,
.admin-categories .category-item .category-left {
  display: flex;
  gap: 20px;
}

.admin-products img,
.admin-categories img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.admin-products .shop-order {
  padding: 20px;
}

.admin-products .shop-order .title {
  display: flex;
  justify-content: space-between;
}
.admin-products .order_items {
  margin-left: 20px;
  margin-bottom: 15px;
}

.admin-products .single_order_item {
  display: flex;
  justify-content: space-between;
}

.admin-products .single-product-inner {
  display: flex;
  gap: 10px;
}

.admin-products .order-total {
  display: flex;
  justify-content: flex-end;
}

.admin-products .order-recipient .customer {
  margin-left: 20px;
}

.order-title {

}
/* PRODUCTS ------------------------------------------- */

#products .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

#products .products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

#products .product-info .title  {

}
#products .product-info .price  {
  font-weight: bold;
  margin-bottom: 20px;
}

#products .product-image img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

/* SINGLE PRODUCT ------------------------------------------- */

#single-product .product-container {
  display: flex;
  gap: 40px;
}
.product-container .product-image img {
  max-width: 400px;
  height: 100%;
  object-fit: cover;
}

/* PROFILE ------------------------------------------- */

.profile-info .user-info {
  max-width: 680px;
  padding: 0 40px;
  margin: auto;

}

/* CART ---------------------------------------*/

#cart .products-container {
  max-width: 800px;
  margin: auto;
  /* border: 1px solid #000000; */
}

#cart .products-container .in-cart {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  /* border-bottom: 1px solid #000000; */
}

#cart .products-container .in-cart .product-info {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

#cart .products-container .in-cart .product-info .title{
  padding-top: 10px;
}

#cart .products-container .in-cart .product-info img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#cart .products-container .in-cart .product-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cart .products-container .in-cart .product-right .cart-product-form{
    display: flex;
    justify-content: end;
}

#cart .products-container .in-cart .product-right .price{
  padding-top: 10px;
  font-weight: bold;
}

#cart .products-container .total-price {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

#cart .products-container .checkout-btn {
  text-align: center;
  padding: 40px;
}

#cart .products-container .checkout-btn .primary-button{
  padding: 10px 80px;
}

/* CHECKOUT ---------------------------------------*/
#checkout .address-wrap {
  display: flex;
  gap: 20px;

}
#checkout .adress-inner {
  border: 1px solid var(--color-grey);
  width: 400px;
  height: 250px;
  padding: 25px;
  transition: all .3s;
  /* position: relative; */
}

#checkout .btn.address:hover .adress-inner {
  border: 3px solid var(--color-grey);
}

#checkout .btn.address.active .adress-inner {
  border: 3px solid var(--color-grey);
}

#checkout .adress-inner.add {
  display: flex;
}

#checkout .adress-inner .add-icon {
  width: 200px;
  margin: auto;
  text-align: center;
}

#checkout .adress-inner .add-icon::before {
  font: var(--fa-font-solid);
  content: "\f055";
  font-size: 25px;
  /* display: inline-block; */
  transition: all .3s;
}

#confirm-purchase {
  display: none;
}

#confirm-purchase.show {
  display: block;
}


.payment-info h4 {
  margin-bottom: 15px;
}
.payment-info img {
  max-width: 200px;
}
